/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

/* Smaller than phablet */
@media (max-width: 549px) {
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: block;
    width: 100%
  }
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: $light-color;
  background-color: $primary-color;
  border-color: $primary-color; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: $light-color;
  background-color: $primary-color-hover;
  border-color: $primary-color-hover; }

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  color: $light-color;
  background-color: $secondary-color;
  border-color: $secondary-color; }

.button.button-secondary:hover,
button.button-secondary:hover,
input[type="submit"].button-secondary:hover,
input[type="reset"].button-secondary:hover,
input[type="button"].button-secondary:hover,
.button.button-secondary:focus,
button.button-secondary:focus,
input[type="submit"].button-secondary:focus,
input[type="reset"].button-secondary:focus,
input[type="button"].button-secondary:focus {
  color: $light-color;
  background-color: $secondary-color-hover;
  border-color: $secondary-color-hover; }

.button.button-accent,
button.button-accent,
input[type="submit"].button-accent,
input[type="reset"].button-accent,
input[type="button"].button-accent {
  color: $light-color;
  background-color: $accent-color;
  border-color: $accent-color; }

.button.button-accent:hover,
button.button-accent:hover,
input[type="submit"].button-accent:hover,
input[type="reset"].button-accent:hover,
input[type="button"].button-accent:hover,
.button.button-accent:focus,
button.button-accent:focus,
input[type="submit"].button-accent:focus,
input[type="reset"].button-accent:focus,
input[type="button"].button-accent:focus {
  color: $light-color;
  background-color: $accent-color-hover;
  border-color: $accent-color-hover; }

.button.button-dark,
button.button-dark,
input[type="submit"].button-dark,
input[type="reset"].button-dark,
input[type="button"].button-dark {
  color: $light-color;
  background-color: $dark-color;
  border-color: $dark-color; }

.button.button-dark:hover,
button.button-dark:hover,
input[type="submit"].button-dark:hover,
input[type="reset"].button-dark:hover,
input[type="button"].button-dark:hover,
.button.button-dark:focus,
button.button-dark:focus,
input[type="submit"].button-dark:focus,
input[type="reset"].button-dark:focus,
input[type="button"].button-dark:focus {
  color: $light-color;
  background-color: $dark-color-hover;
  border-color: $dark-color-hover; }

.button.button-light,
button.button-light,
input[type="submit"].button-light,
input[type="reset"].button-light,
input[type="button"].button-light {
  color: $dark-color;
  background-color: $light-color;
  border-color: $light-color; }

.button.button-light:hover,
button.button-light:hover,
input[type="submit"].button-light:hover,
input[type="reset"].button-light:hover,
input[type="button"].button-light:hover,
.button.button-light:focus,
button.button-light:focus,
input[type="submit"].button-light:focus,
input[type="reset"].button-light:focus,
input[type="button"].button-light:focus {
  color: $dark-color;
  background-color: $light-color-hover;
  border-color: $light-color-hover; }