@import "../../skeleton.scss";

/* Add a black background color to the top navigation */
.topnav {
  background-color: $dark-color;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: $light-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.7rem;
  cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn  {
  background-color: $secondary-color-hover;
  color: $dark-color;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.show {
  display: block !important;
  position: fixed !important;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: $primary-color;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

// Add this class to the navbar to make it stick to the top of the screen
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* When the screen is less than 550 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 550px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 550px) {
  .topnav.responsive {position: fixed;} /*Change this position to relative if you do not want it sticky */
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative !important;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }




/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 1.7rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
