@import "../../skeleton.scss";

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: $dark-color; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.5rem;
  color: $light-color;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav-btn:hover {
  color: $light-color-hover;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3.6rem;
  margin-left: 50px;
}

#openButton {
  height: 50px;
  width: 50px;
  background-color: $dark-color;
  position: fixed;
  top: 75px;
  border-radius: 0 50% 50% 0;
  text-align: center;
  cursor: pointer;
}

#openButton:hover {
  transition: 0.3s;
  background-color: $dark-color-hover;
  height: 60px;
  width: 60px;
}

#openButton i {
  padding: 35%;
}

@media (max-width: 750px) {
  #openButton {
    height: 60px;
    width: 60px;
    top: 25px;
  }
}

.dropdown-btn {
  cursor: pointer;
}

.active {
  background-color: $primary-color;
  color: $dark-color;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: $dark-color-hover;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-top: 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
// #main {
//   transition: margin-left .5s;
//   padding: 20px;
// }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav-btn {font-size: 1.8rem;}
}